/* PC: >= 1024px */
@media (min-width: 64em) {
    .mobile-menu-btn {
        display: none;
    }
}
/* Tablet: >=740px and <1024px */
@media (min-width: 46.25em) and (max-width: 63.9375em) { 
    .mobile-menu-btn {
        display: none;
    }
}
/* Mobile: <740px  */
@media (max-width: 46.1875em) {
    .s-col-ful {
        width: 100% !important;
    }

    .s-mt-8{
        margin-top: 8px;
    }

    #header {
        overflow: hidden;
    }

    #header .search-btn {
        display: none;
    }

    #nav > li {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav .subnav {
        position: initial;
    }

    #nav .subnav li {
        background-color: #000;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #content .avatar-member {
        width: 60%;
    }

    .contact-form .form-submit-btn {
        width: 100%;
    }

    .modal-container {
        margin: 0 10px;
    }
}