/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
 */

/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông,..) */

/* cac class chung */
.clear {
    clear: both;
}

.text-white {
    color: #fff;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}


.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: '';
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33333%;
}

#main{

}

#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li:first-child {
    display: inline-block;
}

#nav > li > a {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav > li:hover > a {
    color: black;
    background-color: #ccc;
}

#nav li:hover .subnav {
    display: inline;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: black;
    padding: 0 12px;
    line-height: 38px;
}

#nav .subnav li:hover {
    color: black;
    background-color: #ccc;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
    line-height: 46px;
    position: absolute;
    top: 0;
    right: 0;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .menu-icon:hover {
    color: #000;
}

.menu-icon,
#header .search-icon {
    color: white;
    font-size: 20px;
}

/* slider */
#slider{
    margin-top: 46px;
    /* khi padding mang gia tri % thi tuc la height = % width */
    /* o day padding-top: 50%; tuc la chieu cao cua slider = 50% chieu ngang cua giao dien */
    padding-top: 50%;
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
    text-shadow: 0 0 1px #000;
}

#slider .text-description {
    font-size: 15px;
    text-shadow: 0 0 1px #000;
}

/* content */
#content{

} 

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-content {
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
    font-size: 15px;
}

#content .member-list {
    margin-top: 32px;
}

#content .member-item {
    float: left;
    text-align: center;
    width: 33.33333%;
    margin-top: 30px;
}

#content .name-member {
    font-size: 15px;
}

#content .avatar-member {
    width: 154px;
    border-radius: 4px;
    margin-top: 15px;
}

#tour-section {
    background-color: #000;
}

#quantity-ticket {
    background-color: #fff;
    margin-top: 40px;
}

#quantity-ticket li {
    font-size: 15px;
    color: #757575;
    list-style: none;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

#quantity-ticket .sold-out {
    background-color: #f44336;
    padding: 3px 8px;
    margin-left: 16px;
}

#quantity-ticket .quantity {
    float: right;
    background-color: #000;
    margin-right: 16px;
    padding: 0px 8px;
    border-radius: 50%;
    font-size: 15px;
    line-height: 24px;
    margin-top: -4px;
}

.tour-place {
    margin: 24px -8px 0;
}

.place-item {
    float: left;
    width: 33.33333%;
    padding: 8px;
}

.place-item .img {
    width: 100%;
}

.place-item .img:hover {
    opacity: 0.5;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.tour-time {
    margin-top: 15px;
    opacity: 0.6;
}
.description-place {
    margin-top: 15px;
    line-height: 1.5;
}
.buy-btn {
    margin-top: 15px;
    padding: 11px 16px;
    background-color: #000;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.buy-btn:hover {
    background-color: #ccc;
    color: #000;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.modal-header{
    background-color: #009688;
    padding: 47px 16px;
    display: flex;
    justify-content: center;
}

.icon-header{
    font-size: 30px;
    color: #fff;
}

.text-header{
    font-size: 30px;
    display: inline;
    margin-left: 10px;
    color: #fff;
    letter-spacing: 4px;
}

.close-modal {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 12px;
    color: #fff;
}

.close-modal:hover {
    opacity: 0.8;
    cursor: pointer;
}

.body-modal {
    padding: 0px 16px;

}

.label-modal {
    display: block;
    margin-top: 15px;
    font-size: 15px;
}

.input-modal {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc
}

.pay-btn {
    margin-top: 15px;
    margin-bottom: 25px;
    background-color: #009688;
    width: 100%;
    padding: 19px;
    border: none;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.pay-btn:hover {
    opacity: 0.8;
}

.footer-modal {
    margin-bottom: 9px;
    float: right;
    padding: 16px;
}

.footer-modal a {
    color: #2196f3;
}

.modal.open {
    display: flex;
}

.contact-content {
    margin-top: 32px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.icon-contact {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    font: inherit;
}

.contact-form .form-submit-btn {
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 16px;
    float: right;
}

.contact-form .form-submit-btn:hover {
    background-color: #ccc;
    color: #000;
}

.map-section img {
    width: 100%;
}

/* footer */
#footer{
    padding: 64px 16px;
    text-align: center;
}

.social-list {
    font-size: 24px;
}

.social-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .coppy-right a:hover,
.social-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .coppy-right {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .coppy-right a {
    color: rgba(0, 0, 0, 0.6);
}

/* vung animation modal buy */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}