* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main{

}

/* header */
#header{
    background-color: black;
    height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#header > #nav > li {
    display: inline-block;
}

#header > #nav > li > a {
    line-height: 46px;
    text-transform: uppercase;
    padding: 0 16px;
    display: block;
}

#header > #nav > li:hover > a{
    background-color: #ccc;
    color: black;
}

#header > #nav > li > a {
    color: white;
    text-decoration: none;
}

#header #nav li {
    list-style-type: none;
}

#header #nav {
    position: relative;
    display: inline-block;
}

#nav .subnav {
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}

#header > #nav > li:hover > .subnav {
    display: block;
}

#nav .subnav a {
    color: black;
    text-decoration: none;
    padding: 8px 10px;
    display: block;
}

#nav .subnav a:hover {
    background-color: #ccc;
}

#header .nav-arrow-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;
    
}

#header .search-icon {
    color: white;
    font-size: 20px;
    line-height: 46px;
    padding: 0 20px;
    display: block;
}

#header .search-icon:hover {
    background-color: red;
}

/* slider */
#slider{
    margin-top: 46px;
}

#content{

}

#footer{

}
